input#fips-record, .fips-hidden {

    display: none;
}

.fips-changed {

    color: var(--y3-secondary) !important;
    border-color: var(--y3-secondary) !important;
}

tr.fips-saved td:not(.fips-edit-link) {

    font-family: var(--y3-font-family-bolder) !important;
    color: var(--y3-secondary) !important;
    font-style: italic;
}

tr.fips-changed:not(.fips-saved) td:not(.fips-edit-link){

    font-family: var(--y3-font-family-regular) !important;
    color: var(--y3-secondary) !important;
    font-style: italic;
}

.fips-dangerbutton {

    background-color: var(--y3-danger) !important;
    border-color: var(--y3-danger) !important;
}

.fips-warningbutton {

    background-color: var(--y3-warning) !important;
    border-color: var(--y3-warning) !important;
}

.fips-subtlebutton {

    background-color: var(--y3-subtle) !important;
    border-color: var(--y3-subtle) !important;
}

.fips-savebutton {

    background-color: var(--y3-positive) !important;
    border-color: var(--y3-positive) !important;
}

table#fips-summary-table td {

    padding-left: 0;
    padding-right: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
}

#fips-refresh {

    display: none;
}

div#fips-editor-container {

    width: 100%;
    border: 1px solid var(--y3-secondary);
    padding: 10px;
    /*margin-top: 10px;*/
    overflow-x: hidden;
    overflow-y: auto;
    height: 600px;
    /* display: none; */
}

.fips-scrolling-content-container {

    scrollbar-color: var(--y3-separator-color) transparent;
    scrollbar-width: 10px;
}

.fips-scrolling-content-container::-webkit-scrollbar-track
{
    /*box-shadow: inset 0 0 5px rgba(0,0,0,0.3);*/
    /*border-radius: 2px;*/
    background-color: transparent;
}

.fips-scrolling-content-container::-webkit-scrollbar
{
    width: 10px;
    background-color: transparent;
}

.fips-scrolling-content-container::-webkit-scrollbar-thumb
{
    /*border-radius: 2px;*/
    /*box-shadow: inset 0 0 5px rgba(0,0,0,.3);*/
    background-color: var(--y3-separator-color);
}


div#fips-list-container {

    width: 100%;
    border: 1px solid var(--y3-subtle);
    padding: 0;
    margin-top: 10px;
    overflow-x: hidden;
    overflow-y: auto;
    /* display: none; */
}

div#fips-list-container .tableFixHead {
    overflow-y: auto; /* make the table scrollable if height is more than 200 px  */
    height: 1rem; /* gives an initial height to the table */
}

div#fips-list-container .tableFixHead thead th {
    position: sticky; /* make the table heads sticky */
    top: 0px; /* table head will be placed from the top of the table and sticks to it */
}

div#fips-list-container table {
    border-collapse: collapse; /* make the table borders collapse to each other */
    width: 100%;
}

div#fips-list-container td {
    padding-left: 10px;
    padding-right: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid var(--y3-subtle);
    color: var(--y3-primary);
    background-color: var(--y3-background-color);
}

div#fips-list-container th {
    padding-left: 10px;
    padding-right: 0;
    padding-top: 8px;
    padding-bottom: 8px;
    color: var(--y3-background-color);
    background-color: var(--y3-subtle);
}

div#yes3-container a {

    color: var(--y3-secondary) !important;
    font-size: var(--y3-font-size) !important;
    font-weight: normal !important;
}

div#yes3-container a:hover {
    color: var(--y3-accent) !important;
    cursor: pointer;
    text-decoration: underline !important;
    outline: none !important;
}

table#fips-editor-table {
    border-collapse: collapse;
    width: 100%;
}

div#fips-editor input[type=button]:focus {

    outline: auto !important;
}

div#fips-editor-api-panel {

    display: none;
}

input.fips-editor-api-option {

    border: 2px solid var(--y3-secondary) !important;
    background-color: transparent !important;
    color: var(--y3-secondary) !important;
    padding-left: 4px !important;
    padding-right: 4px !important;
    padding-top: 1px !important;
    padding-bottom: 1px !important;
    font-family: var(--y3-font-family-medium) !important;
    font-size: var(--y3-font-size-1000) !important;
    font-weight: var(--y3-text-weight-medium) !important;
    min-width: 0 !important;
}

.fips-editor-panel * {
    font-family: var(--y3-font-family-regular) !important;
    font-size: var(--y3-font-size-1250) !important;
    font-weight: var(--y3-text-weight-regular) !important;
}

input#fips-api-batch-size {

    width: 5.5em;
}

/*
tbody#fips-editor-tbody td {
    vertical-align: top;
}
*/
tbody#fips-editor-tbody td.fips-editor-label {
    width: 33%;
}
/*
tbody#fips-editor-tbody tr td::nth-child(2) {
    width: 67%;
}
*/
tbody#fips-editor-tbody tr:not(.fips-textarea) td {
    
    padding-bottom: 5px;
}

tbody#fips-editor-tbody textarea {

    width: 100% !important;
    resize: vertical;
    height: 4.5em;
}


tbody#fips-editor-tbody textarea,
tbody#fips-editor-tbody select,
tbody#fips-editor-tbody input[type=text] {

    background-color: var(--y3-background-color);
    border-color: var(--y3-background-color);
}

#yes3-container select optgroup {

    font-family: var(--y3-font-family-regular);
    margin-top: 10px;
    margin-bottom: 10px;
    color: var(--y3-subtle);
}

.fips-disabled {

    background-color: transparent !important;
    /*border-color: transparent !important;*/
    color: var(--y3-subtle) !important;
}

#fips-message{

    color: var(--y3-warning);
    font-weight: 400;
}

#yes3-controlbar {

    font-weight: 400;
    height: 2em;
    line-height: 2em;
}

#fips-editor-message{

    color: var(--y3-warning);
    font-weight: 400;
}

#fips-status-board table > thead > tr > th {

    font-family: var(--y3-font-family-bold);
    color: var(--y3-primary);
    font-size: var(--y3-font-size-1500);
    line-height: calc( 1.15 * var(--y3-font-size-1500) );
}

#fips-status-board table > thead > tr > th > a {

    color: var(--y3-secondary) !important;
    font-family: var(--y3-font-family-regular) !important;
    font-size: var(--y3-font-size-0900) !important;
}

#fips-status-board table > tbody > tr > td {

    font-size: var(--y3-font-size-0900);
    line-height: calc( 1.15 * var(--y3-font-size-0900) );
}

#fips-status-board table > tbody > tr > td:first-child {

    float: left;
    color: var(--y3-primary);
    font-weight: normal;
}

#fips-status-board table > tbody > tr > td:nth-child(2) {

    float: right;
    color: var(--y3-secondary);
    font-weight: normal;
    padding-left: var(--y3-space-sm);
}

#fips-status-board table > tbody > tr > td:nth-child(3) {

    color: var(--y3-subtle);
    font-weight: normal;
    padding-left: var(--y3-space-sm);
}